*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #0E1014;
    color:#FFFFFF  ;
}

header img{
    display: block;
    margin: 75px 0 0 360px;

}

h1{
    
    font-family: "Unbounded";
    font-weight: bold;
    font-size: 64px;    
    text-align: center;
    margin-top: 60px;

}

p{
    font-family: "poppins";
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0 ;
    width: 792px;
}   


span{
    color: #9747FF;
}

a{
    color: #FFFFFF;
    text-decoration:none;
    font-family:'poppins';
    font-size: 24px;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color:#8233E8 ;
    transition: 0.5s 0s  ;
}
 
section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}



@media(max-width:768px){
    
    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }


}


@media(max-width:375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size:40px ;
    }

    p{
        font-size: 20px;
        width: 349px ;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 340px;       
        height: 230px;
    }

    

}